 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PLAGUE'S FEARSOME MATHS QUIZ</title>
    <link rel="stylesheet" href="/style/skeleton.css">
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>
    <div class="container" id="pageContent">
      <div class="row" id="header">
        <div class="two columns" id="header-img">
          <img src="style/images/pouchee.jpg" style: width="100%">
        </div>
        <div class="ten columns" id="header-text">
          <h1>PLAGUE'S FEARSOME MATHS QUIZ!!!!!!!!!!</h1>
        </div>
        <a class="button button-primary" href="/">Home</a> 
      </div>
     <div class="row" id="body">
      {{{body}}}
     </div>
</div>
  
  </body>
</html>
