<p>
    Welcome to Plague's Fearsome Maths Quiz, the most fearsome quiz of them all! 
    Take a moment to steel yourself before embarking on this difficult journey. 
    When you're ready, start the quiz!</p>

<a class="button button-primary" href="/quiz">
  START QUIZ!
</a>  